
body{
    margin:0;
    width: 100vw;
    height: 100vh;  
    background-color: #F9FDFF;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

div.con
{
    background-image: url(./image/line.PNG);
    background-size: 100vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 3vh;
    width:100%;
    height: 90%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}

div.menu
{
    display: flex;
    align-items: center;
    justify-content:center;
    vertical-align: center;
    flex-direction: column;
    text-align: center;
    width:25%;
    height: 100%;
    text-shadow: rgba(0, 0, 0, 0.28) 0 1px 9px;
}

div.menu-box {
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
    height: 50%;
}

div.top
{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    vertical-align: center;
    padding: 10vh 0px 0px 0px;
    text-align: center;
}
div.bottom
{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    vertical-align: center;
    padding: 0px 0px 10vh 0px;
    text-align: center;
}

i{    
    display: flex;
    vertical-align: middle;
    justify-content:center;
    width: 13vw;
    height: 17vh;
    box-shadow: rgba(0, 0, 0, 0.28) 4px 3px 6px;
    cursor: pointer;
    border-radius: 52%;
}
.oval1
{
    background-color: #FF4068;
    transform: rotate(10deg);
}
.oval2
{
    background-color: #34E99E;
    transform: rotate(-10deg);
}
.oval3
{
    background-color: #FFD83B;
    transform: rotate(-10deg);
}
.oval4
{
    background-color: #5D67F6;
    transform: rotate(10deg);
}
.oval-text
{
    margin-top: 4vh;
    margin-right:1vw;
    font-family: 'Kalam', cursive;
    font-size: 3vw;
    color: black;
}


div.name
{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    vertical-align:center;
    font-family: 'Jua', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.28) 0 1px 9px;
    font-size: 6vw;
    letter-spacing: 8px;
}

.name-text {
    width: 100%;
    padding-left: 1vw;
    text-align: center;
}

div.footer
{
    width:98%;
    height: 10%;
    display: flex;
    justify-content:end;
    align-items: center;
    vertical-align:unset;
    flex-direction: row-reverse;
}

div.cont
{
    width:10%;
    height:100%;
    padding-right: 1vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction:row;


}

div.footer img
{
    width: 120%;
    height: 120%;
}