body{
    background-image: url(./image/prize.png);
    background-size: 100vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    margin:0;
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    background-color: #F9FDFF;
    flex-direction: column;
}

div.con
{
    height: 15%;
    width:100%;
}

header
{
    margin-left: 2.7%;
    /* margin-top: 0.9%; */
    font-family: 'Kalam', cursive;
    /* width:30%;
    height: 100%; */
    height: 30%;
    text-shadow: rgba(0, 0, 0, 0.28) 0 3px 7px;
    font-size: 3.5vw;
    letter-spacing: 4px;
}

div.box {
    margin-left:0.8%;
    margin-top: 1vh;
    width:12vw;
    height: 2.5vh;
    background-color: #FFD83B;
    box-shadow: rgba(0, 0, 0, 0.28) 2px 1px 4px;
}

div.main-con
{
    width:85%;
    height:75%;
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align:top;
    justify-content: space-between;
}

div.content {
    width: 25.5vw;
    height: 70vh;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 6vh;
    text-shadow: rgba(0, 0, 0, 0.28) 0 1px 2px;
}
div.content-first {
    padding-left: 0.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-direction: column;
}
div.content-sec {
    padding-left: 2vw;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-direction: column;
}
div.content-thr {
    padding-left: 3.7vw;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-direction: column;
}

span.year
{
    /* padding-bottom: 4vh; */
    font-size: 3.5vw;    
    font-family: 'Oswald', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.28) 0 3px 7px;
    letter-spacing: 3px;
    padding-bottom: 3vh;
}
div.content img {
    /* margin-top: 20px; */
    width: 20vw;
    height:30vh;

}
span.name
{
    margin-top: 20px;
    font-size: 1.5vw;
}
span.prize
{
    margin-top: 10px;
    font-size: 2.6vw;
}
div.date
{
    margin-top: 15px;
    font-size: 1.2vw;
}
div.member
{
    margin-top: 10px;
    font-size: 1.2vw;
}   